<div>
<table class="views-table cols-4">
	<thead>
		<tr>
			<td class="views-field" colspan="4" style="text-align: center">
				<form action="/todolist">
					<span style="font-size: 150%">{{ title }}
				{% if calendars %}
				        <label for="calendar" style="display: none;">選擇行事曆：</label>
						<select id="calendar" name="calendar" style="color: blue;" onchange="this.form.submit()">
					{% for id, name in calendars %}
							<option value="{{ id }}"{% if id == current %}selected{% endif %}>{{ name }}</option>
					{% endfor %}
						</select>
				{% else %}
					行事曆
				{% endif %}
					</span>　　
					<button class="button js-form-submit form-submit" onclick="window.print()">友善列印</button>
				</form>
			</td>
		</tr>
		<tr>
			<th class="views-field" width="16" style="text-align: center;">月</th>
			<th class="views-field" width="16" style="text-align: center;">日</th>
			<th class="views-field" width="32" style="text-align: center;">星期</th>
			<th class="views-field" style="text-align: center;">行　　　　　　　　　　　　事</th>
		</tr>
	</thead>
	<tbody>
{% for y in range(syear,eyear) %}
	{% if seme == 1 %}
        {% if y == syear %}
            {% set ms = 8 %}
            {% set me = 12 %}
        {% else %}
            {% set ms = 1 %}
            {% set me = 1 %}
        {% endif %}
    {% else %}
        {% set ms = 2 %}
        {% set me = 7 %}
    {% endif %}
	{% for m in range(ms,me) %}
        {% set days = date("#{y}-#{m}-02")|date_modify("last day of this month")|date('j') %}
        {% for d in range(1,days) %}
		<tr>
			<td align="center">{{ m }}</td>
			<td align="center">{{ d }}</td>
            {% set meeting = date("#{y}-#{m}-#{d}")|date('w') %}
			{% if (meeting == 0) %}
            <td align=center bgcolor=#FF0000><font color=#FFFFFF>日</font></td>
            {% elseif (meeting == 1) %}
            <td align=center>一</td>
            {% elseif (meeting == 2) %}
            <td align=center>二</td>
            {% elseif (meeting == 3) %}
            <td align=center>三</td>
            {% elseif (meeting == 4) %}
            <td align=center>四</td>
            {% elseif (meeting == 5) %}
            <td align=center>五</td>
            {% elseif (meeting == 6) %}
            <td align=center bgcolor=#FF0000><font color=#FFFFFF>六</font></td>
			{% endif %}
			{% spaceless %}
			<td>
			{% if events %}
				{% for event in events %}
					{% if event.start.dateTime|date('Y-m-d') == "#{y}-#{m}-#{d}"|date('Y-m-d') %}
				{{ event.Summary }}
						{% if event.start.dateTime|length < 11 %}
				（全天）
						{% else %}
							{% if event.start.dateTime|date('Y') == event.end.dateTime|date('Y') %}
								{% if event.start.dateTime|date('m') == event.end.dateTime|date('m') %}
									{% if event.start.dateTime|date('d') == event.end.dateTime|date('d') %}
				（{{ event.start.dateTime|date('H:i') }}到{{ event.end.dateTime|date('H:i') }}止）
									{% else %}
				（{{ event.start.dateTime|date('j') }}日到{{ event.end.dateTime|date('j') }}日止）
									{% endif %}
								{% else %}
				（{{ event.start.dateTime|date('n') }}月{{ event.start.dateTime|date('j') }}日到{{ event.end.dateTime|date('n') }}月{{ event.end.dateTime|date('j') }}日止）
								{% endif %}
							{% else %}
				（{{ event.start.dateTime|date('Y') }}年{{ event.start.dateTime|date('n') }}月{{ event.start.dateTime|date('j') }}日到{{ event.end.dateTime|date('Y') }}年{{ event.end.dateTime|date('n') }}月{{ event.end.dateTime|date('j') }}日止）
							{% endif %}
						{% endif %}
						{% if (event.location is not empty) %}
				　地點：{{ event.location }}
						{% endif %}
						{% if (event.description is not empty) %}
				　備註：{{ event.description }}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			</td>
			{% endspaceless %}
		{% endfor %}
	{% endfor %}
{% endfor %}
</table>
</div>