<div>
<table class="views-table cols-4">
	<thead>
		<tr>
			<th class="views-field" colspan="4" style="text-align: center"><span style="font-size: 150%">{{ title }}</span> <a href="javascript:window.print()">友善列印</a></th>
		</tr>
		<tr>
			<th class="views-field" width="16" style="text-align: center;">月</th>
			<th class="views-field" width="16" style="text-align: center;">日</th>
			<th class="views-field" width="32" style="text-align: center;">星期</th>
			<th class="views-field" style="text-align: center;">行　　　　　　　　　　　　事</th>
		</tr>
	</thead>
	<tbody>
{% for y in range(syear,eyear) %}
	{% if (seme == 1) %}
        {% if y == syear %}
            {% set ms = 8 %}
            {% set me = 12 %}
        {% else %}
            {% set ms = 1 %}
            {% set me = 1 %}
        {% endif %}
    {% else %}
        {% set ms = 2 %}
        {% set me = 7 %}
    {% endif %}
	{% for m in range(ms,me) %}
        {% set days = date("#{y}-#{m}-02")|date_modify("last day of this month")|date('j') %}
        {% for d in range(1,days) %}
		<tr>
			<td align="center">{{ m }}</td>
			<td align="center">{{ d }}</td>
            {% set meeting = date("#{y}-#{m}-#{d}")|date('w') %}
			{% if (meeting == 0) %}
            <td align=center bgcolor=#FF0000><font color=#FFFFFF>日</font></td>
            {% elseif (meeting == 1) %}
            <td align=center>一</td>
            {% elseif (meeting == 2) %}
            <td align=center>二</td>
            {% elseif (meeting == 3) %}
            <td align=center>三</td>
            {% elseif (meeting == 4) %}
            <td align=center>四</td>
            {% elseif (meeting == 5) %}
            <td align=center>五</td>
            {% elseif (meeting == 6) %}
            <td align=center bgcolor=#FF0000><font color=#FFFFFF>六</font></td>
			{% endif %}
			{% spaceless %}
			<td>
			{% if events %}
				{% for event in events %}
					{% if (event.Start.Date|date('Y-m-d') == date("#{y}-#{m}-#{d}")) %}
				【<span style="color:red;">{{ event.Creator.DisplayName }}</span>】
				{{ event.Summary }}
						{% if event.Start.Date|length < 11 %}
				（全天）
						{% else %}
							{% if event.Start.Date|date('Y') == event.End.Date|date('Y') %}
								{% if event.Start.Date|date('m') == event.End.Date|date('m') %}
									{% if event.Start.Date|date('d') == event.End.Date|date('d') %}
				（{{ event.Start.Date|date('H:i') }}到{{ event.End.Date|date('H:i') }}止）
									{% else %}
				（{{ event.Start.Date|date('j') }}日到{{ event.End.Date|date('j') }}日止）
									{% endif %}
								{% else %}
				（{{ event.Start.Date|date('n') }}月{{ event.Start.Date|date('j') }}日到{{ event.End.Date|date('n') }}月{{ event.End.Date|date('j') }}日止）
								{% endif %}
							{% else %}
				（{{ event.Start.Date|date('Y') }}年{{ event.Start.Date|date('n') }}月{{ event.Start.Date|date('j') }}日到{{ event.End.Date|date('Y') }}年{{ event.End.Date|date('n') }}月{{ event.End.Date|date('j') }}日止）
							{% endif %}
						{% endif %}
						{% if (event.Location is not empty) %}
				　地點：{{ event.Location }}
						{% endif %}
						{% if (event.Description is not empty) %}
				　備註：{{ event.Description }}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			</td>
			{% endspaceless %}
		{% endfor %}
	{% endfor %}
{% endfor %}
</table>
</div>