<div>
<table class="views-table cols-4">
	<thead>
		<tr>
			<th class="views-field" colspan="4" style="text-align: center; font-size: 150%">{{ title }}<a href="javascript:window.print()">友善列印</a></th>
		</tr>
		<tr>
			<th class="views-field" width="16" style="text-align: center;">月</th>
			<th class="views-field" width="16" style="text-align: center;">日</th>
			<th class="views-field" width="32" style="text-align: center;">星期</th>
			<th class="views-field" style="text-align: center;">行　　　　　　　　　　　　事</th>
		</tr>
	</thead>
	<tbody>
{% for y in range(syear,eyear) %}
	{% if (seme == 1) %}
        {% if y == syear %}
            {% set ms = 8 %}
            {% set me = 12 %}
        {% else %}
            {% set ms = 1 %}
            {% set me = 1 %}
        {% endif %}
    {% else %}
        {% set ms = 2 %}
        {% set me = 7 %}
    {% endif %}
	{% for m in range(ms,me) %}
        {% set days = date("#{y}-#{m}-02")|date_modify("last day of this month")|date('j') %}
        {% for d in range(1,days) %}
		<tr>
			<td align="center">{{ m }}</td>
			<td align="center">{{ d }}</td>
            {% set meeting = date("#{y}-#{m}-#{d}")|date('w') %}
			{% switch meeting %}
            	{% case 0 %}
            <td align=center bgcolor=#FF0000><font color=#FFFFFF>日</font></td>
            	{% case 1 %}
            <td align=center>一</td>
	        	{% case 2 %}
            <td align=center>二</td>
        		{% case 3 %}
            <td align=center>三</td>
        		{% case 4 %}
            <td align=center>四</td>
            	{% case 5 %}
            <td align=center>五</td>
            	{% case 6 %}
            <td align=center bgcolor=#FF0000><font color=#FFFFFF>六</font></td>
			{% endswitch %}
			{% spaceless %}
			<td>
			{% if (events) %}
				{% for event in events %}
					{% if (date(event.getStart().getDate()) == date("#{y}-#{m}-#{d}")) %}
				【<span style="color:red;">{{ event.getCreator().getDisplayName() }}</span>】
				{{ event.getSummary() }}
						{% if (date(event.getStart().getDate()) == date(event.getEnd().getDate())) %}
				（全天）
						{% else %}
							{% if (date(event.getStart().getDate())|date('Y') == date(event.getEnd().getDate())|date('Y')) %}
								{% if (date(event.getStart().getDate())|date('m') == date(event.getEnd().getDate())|date('m')) %}
									{% if (date(event.getStart().getDate())|date('d') == date(event.getEnd().getDate())|date('d')) %}
				（{{ date(event.getStart().getDate())|date('H:i') }}到{{ date(event.getEnd().getDate())|date('H:i') }}止）
									{% else %}
				（{{ date(event.getStart().getDate())|date('j') }}日到{{ date(event.getEnd().getDate())|date('j') }}日止）
									{% endif %}
								{% else %}
				（{{ date(event.getStart().getDate())|date('n') }}月{{ date(event.getStart().getDate())|date('j') }}日到{{ date(event.getEnd().getDate())|date('n') }}月{{ date(event.getEnd().getDate())|date('j') }}日止）
								{% endif %}
							{% else %}
				（{{ date(event.getStart().getDate())|date('Y') }}年{{ date(event.getStart().getDate())|date('n') }}月{{ date(event.getStart().getDate())|date('j') }}日到{{ date(event.getEnd().getDate())|date('Y') }}年{{ date(event.getEnd().getDate())|date('n') }}月{{ date(event.getEnd().getDate())|date('j') }}日止）
							{% endif %}
						{% endif %}
						{% if (event.getLocation() is not empty) %}
				　地點：{{ event.getLocation() }}
						{% endif %}
						{% if (event.getDescription() is not empty) %}
				　備註：{{ event.getDescription() }}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			</td>
			{% endspaceless %}
		{% endfor %}
	{% endfor %}
{% endfor %}
</table>
</div>