<!-- FOOTER -->
<footer class="py-3 py-lg-5 text-white-50 mt-2 mt-md-5 d-print-none" id="page-footer">
  <div class="{{ container }}">
    <div class="row">
      <div class="col-md-12 col-lg-3 order-3 order-md-3 order-lg-1 mb-3 mb-3">
        {% if page.footer_left %}
          {{ page.footer_left }}
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-5 order-2 order-lg-2 mb-3">
        {% if page.footer_center %}
          {{ page.footer_center }}
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-lg-3">
        {% if page.footer_right %}
          {{ page.footer_right }}
        {% endif %}
      </div>
    </div>
  </div>
</footer>
<footer class="py-3 justify-content-center d-flex text-white-50 d-print-none" id="page-footer-sub">
  <div class="{{ container }}">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-xl-4 d-flex justify-content-center align-items-center">
        {% if page.footer_sub_left %}
          {{ page.footer_sub_left }}
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center align-items-center">

        {% if page.footer_sub_center %}
          {{ page.footer_sub_center }}
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center align-items-center">
        {% if page.footer_sub_right %}
          {{ page.footer_sub_right }}
        {% endif %}
      </a>
    </div>
  </div>
</div>
</footer>
<!-- FOOTER -->


<!-- MODAL CONTAINER -->
{% if page.modal_container %}
  {{ page.modal_container }}
{% endif %}
<!-- MODAL CONTAINER -->
